
@import "~@angular/material/prebuilt-themes/indigo-pink.css";



.our-team{
        background-color: aqua;
}

body{
       height: 89vh;
       margin: 0;
       padding: 0;
       background-color: #fff;
}
app-root {
        height: 100vh;
}