<div class="container mr-3">
  <div class="btn btn-outline-primary col-md-3 mr-2" (click)="filterOpenProjects()" role="group" aria-label="...">Open
    Projects</div>
  <div class="btn btn-outline-primary  col-md-3 mr-2" role="group" (click)="filterCloseProjects()" aria-label="...">
    Closed Projects</div>
  <div class="btn btn-outline-primary  col-md-3" routerLink="/projectDetailFormComponent" role="group" aria-label="...">
    Add Projects</div>

</div>


<div class="container" *ngFor="let project of projects">
  <app-project-card-product-owner-myproject [project]="project"></app-project-card-product-owner-myproject>

</div>