<div class="container">
	<div class="row">
		<div class="col-md-8 col-xs-10">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="row">
						<div class="col-xs-12 col-sm-4 text-center">
							<img src="https://static.knackforge.in/sites/default/files/default_images/dummy_5.png" alt=""
								class="center-block img-circle img-responsive">
							<ul class="list-inline ratings text-center" title="Ratings">
								<li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
							</ul>
						</div>
						<!--/col-->
						<div class="col-xs-12 col-sm-8">
							<h2>{{name}}</h2>
							<p><strong>About: </strong> Web Designer / UI. </p>
							<p><strong>Hobbies: </strong> Read, out with friends, listen to music, draw and learn new
								things. </p>
							<p ><strong>Skills: </strong>
								<span class="label label-info tags" *ngFor="let skill of skills">{{skill}}</span>
								<!-- <span class="label label-info tags">css3</span>
								<span class="label label-info tags">jquery</span>
								<span class="label label-info tags">bootstrap3</span> -->
							</p>
						</div>
						<!--/col-->
						<div class="clearfix"></div>
						<!-- <div class="col-xs-12 col-sm-4">
							<h2><strong> 20,7K </strong></h2>
							<p><small>Followers</small></p>
							<button class="btn btn-success btn-block"><span class="fa fa-plus-circle"></span> Follow
							</button>
						</div> -->
						<!--/col-->
						<div class="col-xs-12 col-sm-4">
							<h2><strong>245</strong></h2>
							<p><small>Projets</small></p>
						</div>
						<!--/col-->
						<div class="col-xs-12 col-sm-4">
							<h2><strong>43</strong></h2>
							<p><small>Projets Won</small></p>
						</div>
						<!--/col-->
					</div>
					<!--/row-->
				</div>
				<!--/panel-body-->
			</div>
			<!--/panel-->
		</div>
		<!--/col-->
	</div>
	<!--/row-->
</div>
<!--/container-->