<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container" *ngIf="!message; else elseBlock">
  <div class="row">
    <div *ngFor="let project of projects" class="card col-md-12 p-3">
      <div class="row ">
        <div class="col-md-8">
          <div class="card-block">
            <h6 class="card-title">{{project.projectName}}</h6>
            <p class="card-text text-justify">{{project.projectDescription}}</p>
            <p class="card-text1" style="color: blue">{{project.skillsSetList}}</p>
            <button class="card-link btn btn-primary"
              routerLink="/projectDetailsComponent/{{project.projectId}}/{{project.projectOwnerEmailId}}">Details</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #elseBlock>
  <div class="container mt-5">
    <h6>NO RESULT FOUND</h6>
  </div>
</ng-template>