<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{ projects.name }}</h5>
      <p class="card-text">{{ projects.description }}</p>
    </div>
  </div>

  <div class="mt-5">
    <form>
      <div class="form-group">
        <label>Amount</label>
        <input class="form-control" type="text" />
      </div>
      <div class="form-group">
        <label>Location</label>
        <input class="form-control" type="text" />
      </div>
      <div class="form-group">
        <label>Prefrence</label>
        <input class="form-control" type="text" />
      </div>

      <button class="btn btn-primary text-white">Bid</button>
    </form>
  </div>
</div>